In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [7]:
filename = '../data/olympic_athlete_events.csv'

df = pd.read_csv(filename,
                usecols=['Age', 'Height', 'Team', 'Year', 'Season', 'Sport', 'Medal'])

df = df.loc[df['Team'].isin(['Great Britain', 'France', 'United States', 'Switzerland', 'China', 'India'])]
df = df.loc[df['Year'] >= 1980]

df.head()

     Age  Height           Team  Year  Season                 Sport Medal
0   24.0   180.0          China  1992  Summer            Basketball   NaN
1   23.0   170.0          China  2012  Summer                  Judo   NaN
10  31.0   188.0  United States  1992  Winter  Cross Country Skiing   NaN
11  31.0   188.0  United States  1992  Winter  Cross Country Skiing   NaN
12  31.0   188.0  United States  1992  Winter  Cross Country Skiing   NaN

In [8]:
# What was the average age of olympic participants?
# In which country do medalists appear to consistently be the youngest?

pd.pivot_table(df, index='Year', columns='Team', values='Age')

Team,China,France,Great Britain,India,Switzerland,United States
Year,,,,,,
1980,21.868421,23.524590,22.882507,25.506667,24.557823,22.770992
1984,22.076336,24.369830,24.445423,24.905660,23.589744,24.437118
1988,22.358447,24.520076,25.439560,24.000000,26.218868,24.904977
1992,21.955752,25.140187,25.584055,24.184615,25.413194,25.474866
1994,20.627907,24.601307,25.282051,NaN,25.500000,24.976744
1996,22.021531,25.296629,26.746032,24.629630,27.122093,26.273277
1998,21.784091,25.462069,27.243902,16.000000,25.641509,25.146154
2000,22.515306,25.982833,26.406948,25.400000,27.376812,26.576203
2002,23.127451,25.737805,26.833333,20.000000,26.238710,25.726316
2004,23.006122,26.139073,26.303977,24.728395,27.343284,26.439093
2006,23.457143,26.303226,26.851852,25.200000,26.284848,25.637288
2008,23.903955,26.285714,25.200969,25.402985,27.312500,26.225806
2010,23.239669,25.911458,26.147059,25.666667,26.548387,25.841584
2012,23.894168,26.606635,25.922619,25.637363,27.172131,26.461883
2014,23.400000,25.708995,25.628571,25.000000,25.855814,26.189189
2016,23.873706,27.095238,26.653191,26.100000,25.891892,26.217454

In [9]:
# How many medals did each country get in each year?
pd.pivot_table(df.dropna(subset='Medal'), 
               index='Year', 
               columns='Team', 
               values='Medal',
               aggfunc='size')

Team  China  France  Great Britain  India  Switzerland  United States
Year
1980    NaN    30.0           48.0   16.0          5.0           30.0
1984   74.0    70.0           71.0    NaN         17.0          359.0
1988   50.0    31.0           54.0    NaN         24.0          212.0
1992   73.0    65.0           50.0    NaN          2.0          236.0
1994    3.0    11.0            3.0    NaN          8.0           19.0
1996   94.0    49.0           26.0    1.0         11.0          255.0
1998   14.0    13.0            4.0    NaN         10.0           30.0
2000   65.0    64.0           52.0    1.0         14.0          240.0
2002   14.0    13.0            6.0    NaN         20.0           70.0
2004   82.0    53.0           55.0    1.0          5.0          259.0
2006    9.0    15.0            1.0    NaN         15.0           48.0
2008  170.0    77.0           81.0    3.0         11.0          309.0
2010   15.0    14.0            1.0    NaN         12.0           89.0
2012  117.0    78.0          122.0    6.0          4.0          238.0
2014   12.0    18.0           10.0    NaN         28.0           52.0
2016  109.0    96.0          145.0    2.0         11.0          256.0

In [10]:
# How tall was the tallest athlete in each sport in each year?
pd.pivot_table(df, index='Sport', columns='Year', values='Height', aggfunc='max')

Year,1980,1984,1988,1992,1994,1996,1998,2000,2002,2004,2006,2008,2010,2012,2014,2016
Sport,,,,,,,,,,,,,,,,
Alpine Skiing,184.0,184.0,185.0,185.0,188.0,NaN,188.0,NaN,189.0,NaN,193.0,NaN,193.0,NaN,200.0,NaN
Archery,185.0,188.0,188.0,191.0,NaN,191.0,NaN,191.0,NaN,193.0,NaN,193.0,NaN,193.0,NaN,188.0
Athletics,197.0,203.0,203.0,200.0,NaN,198.0,NaN,197.0,NaN,203.0,NaN,203.0,NaN,208.0,NaN,203.0
Badminton,NaN,NaN,NaN,186.0,NaN,189.0,NaN,187.0,NaN,190.0,NaN,190.0,NaN,191.0,NaN,191.0
Baseball,NaN,NaN,NaN,198.0,NaN,195.0,NaN,206.0,NaN,NaN,NaN,198.0,NaN,NaN,NaN,NaN
Basketball,196.0,216.0,216.0,216.0,NaN,216.0,NaN,226.0,NaN,226.0,NaN,226.0,NaN,221.0,NaN,218.0
Beach Volleyball,NaN,NaN,NaN,NaN,NaN,193.0,NaN,195.0,NaN,192.0,NaN,202.0,NaN,202.0,NaN,188.0
Biathlon,190.0,190.0,188.0,192.0,192.0,NaN,192.0,NaN,192.0,NaN,193.0,NaN,193.0,NaN,193.0,NaN
Bobsleigh,NaN,184.0,NaN,NaN,NaN,NaN,198.0,NaN,190.0,NaN,193.0,NaN,191.0,NaN,189.0,NaN
Boxing,190.0,195.0,196.0,193.0,NaN,191.0,NaN,198.0,NaN,190.0,NaN,203.0,NaN,201.0,NaN,200.0
Canoeing,203.0,203.0,203.0,203.0,NaN,205.0,NaN,203.0,NaN,190.0,NaN,200.0,NaN,194.0,NaN,191.0
Cross Country Skiing,185.0,189.0,186.0,190.0,190.0,NaN,185.0,NaN,188.0,NaN,188.0,NaN,193.0,NaN,193.0,NaN
Curling,NaN,NaN,NaN,NaN,NaN,NaN,188.0,NaN,193.0,NaN,183.0,NaN,189.0,NaN,192.0,NaN
Cycling,190.0,190.0,195.0,192.0,NaN,189.0,NaN,192.0,NaN,192.0,NaN,196.0,NaN,198.0,NaN,196.0
Diving,176.0,175.0,178.0,183.0,NaN,183.0,NaN,183.0,NaN,182.0,NaN,185.0,NaN,178.0,NaN,188.0
Equestrianism,179.0,187.0,187.0,184.0,NaN,196.0,NaN,187.0,NaN,196.0,NaN,196.0,NaN,196.0,NaN,196.0
Fencing,193.0,208.0,208.0,193.0,NaN,196.0,NaN,196.0,NaN,196.0,NaN,196.0,NaN,197.0,NaN,197.0
Figure Skating,183.0,182.0,180.0,182.0,182.0,NaN,182.0,NaN,183.0,NaN,188.0,NaN,188.0,NaN,193.0,NaN
Football,NaN,188.0,190.0,193.0,NaN,191.0,NaN,193.0,NaN,180.0,NaN,193.0,NaN,195.0,NaN,188.0
Freestyle Skiing,NaN,NaN,NaN,190.0,186.0,NaN,193.0,NaN,193.0,NaN,183.0,NaN,193.0,NaN,188.0,NaN
Golf,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,193.0
Gymnastics,180.0,179.0,181.0,178.0,NaN,180.0,NaN,175.0,NaN,176.0,NaN,184.0,NaN,184.0,NaN,184.0
Handball,197.0,200.0,200.0,198.0,NaN,203.0,NaN,199.0,NaN,199.0,NaN,201.0,NaN,204.0,NaN,202.0
Hockey,179.0,190.0,189.0,193.0,NaN,196.0,NaN,196.0,NaN,196.0,NaN,189.0,NaN,189.0,NaN,193.0
Ice Hockey,193.0,193.0,195.0,194.0,195.0,NaN,195.0,NaN,190.0,NaN,195.0,NaN,196.0,NaN,198.0,NaN
Judo,196.0,204.0,204.0,196.0,NaN,205.0,NaN,202.0,NaN,202.0,NaN,203.0,NaN,203.0,NaN,203.0
Luge,188.0,188.0,183.0,188.0,188.0,NaN,188.0,NaN,185.0,NaN,188.0,NaN,188.0,NaN,188.0,NaN
Modern Pentathlon,185.0,188.0,190.0,190.0,NaN,185.0,NaN,186.0,NaN,191.0,NaN,188.0,NaN,188.0,NaN,194.0
Nordic Combined,193.0,183.0,193.0,183.0,180.0,NaN,181.0,NaN,183.0,NaN,183.0,NaN,190.0,NaN,190.0,NaN
Rhythmic Gymnastics,NaN,172.0,170.0,172.0,NaN,172.0,NaN,173.0,NaN,178.0,NaN,177.0,NaN,173.0,NaN,177.0
Rowing,198.0,205.0,205.0,205.0,NaN,205.0,NaN,204.0,NaN,207.0,NaN,207.0,NaN,206.0,NaN,207.0
Rugby Sevens,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,195.0
Sailing,186.0,198.0,198.0,195.0,NaN,203.0,NaN,201.0,NaN,198.0,NaN,194.0,NaN,195.0,NaN,197.0
Shooting,183.0,189.0,190.0,190.0,NaN,195.0,NaN,188.0,NaN,192.0,NaN,192.0,NaN,198.0,NaN,200.0
Short Track Speed Skating,NaN,NaN,NaN,182.0,183.0,NaN,183.0,NaN,188.0,NaN,186.0,NaN,186.0,NaN,189.0,NaN
Skeleton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,188.0,NaN,185.0,NaN,185.0,NaN,190.0,NaN
Ski Jumping,185.0,180.0,185.0,190.0,185.0,NaN,185.0,NaN,185.0,NaN,190.0,NaN,190.0,NaN,190.0,NaN
Snowboarding,NaN,NaN,NaN,NaN,NaN,NaN,190.0,NaN,190.0,NaN,186.0,NaN,190.0,NaN,188.0,NaN
Softball,NaN,NaN,NaN,NaN,NaN,182.0,NaN,185.0,NaN,188.0,NaN,191.0,NaN,NaN,NaN,NaN
Speed Skating,185.0,190.0,193.0,193.0,186.0,NaN,186.0,NaN,193.0,NaN,188.0,NaN,203.0,NaN,193.0,NaN
Swimming,194.0,200.0,200.0,201.0,NaN,201.0,NaN,201.0,NaN,202.0,NaN,203.0,NaN,203.0,NaN,206.0
Synchronized Swimming,NaN,178.0,180.0,180.0,NaN,181.0,NaN,181.0,NaN,177.0,NaN,175.0,NaN,178.0,NaN,177.0
Table Tennis,NaN,NaN,185.0,193.0,NaN,193.0,NaN,188.0,NaN,193.0,NaN,192.0,NaN,188.0,NaN,186.0
Taekwondo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198.0,NaN,198.0,NaN,201.0,NaN,201.0,NaN,197.0
Tennis,NaN,NaN,193.0,200.0,NaN,200.0,NaN,198.0,NaN,188.0,NaN,198.0,NaN,206.0,NaN,196.0
Trampolining,NaN,NaN,NaN,NaN,NaN,NaN,NaN,175.0,NaN,172.0,NaN,179.0,NaN,179.0,NaN,178.0
Triathlon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,192.0,NaN,191.0,NaN,196.0,NaN,191.0,NaN,191.0
Volleyball,NaN,203.0,203.0,202.0,NaN,203.0,NaN,204.0,NaN,209.0,NaN,210.0,NaN,206.0,NaN,209.0
Water Polo,NaN,198.0,205.0,205.0,NaN,200.0,NaN,200.0,NaN,203.0,NaN,201.0,NaN,203.0,NaN,206.0
Weightlifting,180.0,188.0,190.0,190.0,NaN,195.0,NaN,182.0,NaN,180.0,NaN,177.0,NaN,189.0,NaN,187.0
Wrestling,205.0,190.0,193.0,193.0,NaN,194.0,NaN,196.0,NaN,195.0,NaN,203.0,NaN,203.0,NaN,188.0

In [11]:
df.reset_index()['Year'].max()

2016

NameError: name 'df' is not defined